@media screen and (max-width: 768px){
    #logo{
        position: relative;
        width: 100%;
        text-align: center;
        left: 0;
    }

    #navigation{
        position: relative;
        right: 0;
        width: 100%;
        text-align: center;
        top: 35px;
    }

    #navigation > li{
        font-size: 13px;
        margin: 0px 7px;
    }

    #container{
        width: 158px;
        top: 0;
        margin-left: -79px;
        margin-top: 140px;
    }

    #container > h1{
        font-size: 40px;
    }

    #container > div#product-description{
        width: 300px;
        margin-left: -70px;
        margin-top: 35px;
    }

    #social{
        font-size: 15px;
        bottom: 0;
    }

    #social > li{
        margin: 10px 25px;
        display: inline-block;
    }

}